asgiref==3.4.1
async-generator==1.10
attrs==20.3.0
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
Django==3.2.9
docutils==0.19
filelock==3.4.0
gunicorn==20.1.0
Pillow==9.0.1
python-dateutil==1.5
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.9
virtualenv==20.10.0
virtualenvwrapper-win==1.2.6
whitenoise==6.1.0