{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSC_132</title>
    <link rel="stylesheet" href="{% static 'Main_Application/admin.css' %}">
</head>
<body>
    <div  class="message_container container">
        <div class="top_nav">
            <div class="left">
                <h1>Audiophile administration</h1>
            </div>
            <div class="right">
                <h1>Welcome, ADMIN <a href="{% url 'index' %}">view site</a> <a href="{% url 'csc_admin' %}">Admin Page</a> </h1>
            </div>
        </div>
        <main class="message_container">
            <form action="{% url 'admin_message' %}" method="POST" enctype="multipart/form-data">
                {% for msg in messages %}
                    <h4 style="color: black;margin-bottom: 1em">{{msg}}</h4>
                {% endfor %}
                {% csrf_token %}
                <input name="subject" type="text" placeholder="Enter email subject">
                <textarea name="adminmessage" id="" cols="30" rows="10" required placeholder="Enter Message"></textarea>
                <input type="submit">
            </form>
        </main>
    </div>
</body>
</html>